.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    z-index: 1001;
    padding: 20px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-icon-label {
    display: flex;
    align-items: center;
  }
  
  .sidebar-title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .sidebar-content select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  @media (max-width: 600px) {
    .sidebar-content select {
      font-size: 14px; 
      padding: 8px;
    }
  
    .sidebar-title {
      font-size: 16px; 
    }
  }
  